html {
	height:100%;
	background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
  }
  
  nav {
	max-width: 960px;
	mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
	margin: 0 auto;
	padding: 60px 0;
  }
  
  nav ul {
	text-align: center;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  }
  
  nav ul li {
	display: inline-block;
  }
  
  nav ul li a {
	padding: 18px;
	font-family: "Open Sans";
	text-transform:uppercase;
	color: rgba(0, 35, 122, 0.5);
	font-size: 18px;
	text-decoration: none;
	display: block;
  }
  
  nav ul li a:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
	background: rgba(255, 255, 255, 0.1);
	color: rgba(0, 35, 122, 0.7);
  }
  
  
.body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #ddd;
  font-family: 'Arimo', sans-serif;
}

.title{
  text-align: center;
  color: #2c3e50;
}

/* CONTAINERS */ 

.container {max-width: 940px; width: 100%; margin: 0 auto; } 
.twelve { width: 100%; } 
.eleven { width: 91.53%; } 
.ten { width: 83.06%; } 
.nine { width: 74.6%; } 
.eight { width: 66.13%; } 
.seven { width: 57.66%; } 
.six { width: 49.2%; } 
.five { width: 40.73%; } 
.four { width: 32.26%;} 
.three { width: 23.8%; } 
.two { width: 15.33%; } 
.one{ width: 6.866%;}

 /* COLUMNS */ 

.col { 
	display: block; 
	float:left;
	margin: 1% 0 1% 1.6%; 
} 

.col:first-of-type { margin-left: 0; }

 /* CLEARFIX */ 

 .cf:before, .cf:after { 
 	content: " "; 
 	display: table; 
 } 
 
 .cf:after {
	clear: both; 
} 
 
 .cf { 
 	*zoom: 1; 
 }

/* PROFILES */

.card{
	max-width: 100%;
	height: 400px;
	background-color: #fff;
	font-family: 'Arimo', sans-serif;
	font-size: 14px;
}

/* CARD ! */

#card1{
	text-align: center;
	color: #2c3e50;
	background-color: #3498db;
	padding: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#card1 .image-wrapper{
	width: 100px;
	height: 100px;
	margin: 20px auto;
	border-radius: 100%;
	background-image: url("Arnold 20171209_191508.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

/* CARD 2 */

#card2{
	text-align: center;
	color: #2c3e50;
	background-color: #ca64d3;
	padding: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#card2 .image-wrapper{
	width: 100px;
	height: 100px;
	margin: 20px auto;
	border-radius: 100%;
	background-image: url("Amy smith.jpg.png");
	background-size: cover;
	background-repeat: no-repeat;
}

/* CARD 3 */

#card3{
	text-align: center;
	color: #2c3e50;
	background-color: #3498db;
	padding: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#card3 .image-wrapper{
	width: 100px;
	height: 100px;
	margin: 20px auto;
	border-radius: 100%;
	background-image: url("Brandon 20171207_013200.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
